<!-- form new lot -->
<%= form_with model: @lot, local: true do |form| %>
	<% if @lot.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@lot.errors.count, "error") %> prohibited
        this lot from being saved:
      </h2>
      <ul>
        <% @lot.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<p>
		<%= form.label :lot_name %><br>
		<%= form.text_field :lot_name %>
	</p>
	<p>
		<%= form.label :lot_area %><br>
		<%= form.number_field :lot_area %>
	</p>
	<p>
		<%= form.label :lot_available_area %><br>
		<%= form.number_field :lot_available_area %>
	</p>
	<p>
    <%= form.submit %>
  </p>
<% end %>