<div id="lots-container" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
    <h4>LOT INFO:</h4>
      <span class="lot-name">
        <strong>LOT NAME:</strong>
        <span>
          <%= @lot.lot_name %>
        </span>
      </span>
      |
      <span class="lot-area">
        <strong>LOT AREA:</strong>
        <span>
          <%= @lot.lot_area %>
        </span>
      </span>
      |
      <span class="lot-available-area">
        <strong>LOT AVAILABLE AREA:</strong>
        <span>
          <%= @lot.lot_available_area %>
        </span>
      </span>
    </div>  
  </div>  
</div>
<%# content_for :javascript_includes do %>
  <%#= javascript_include_tag "lots.js" %>
<%# end %>

 

<div id="codes-container" class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-12">
      <h4>CODES:</h4>
      <hr>
    </div>
    <% @lot.codes.each do |code| %>
      <div class="col-md-4 p-2" data-code-id="<%= code.id %>">
        <div class="card m-1 p-1">
          <p class="code-name">
            <strong>CODE NAME</strong>
            <span>
              <%= code.code_name %>
            </span>
          </p>
          <p class="code-area">
            <strong>AREA</strong>
            <span>
              <%= code.code_area %>
            </span>
          </p>
          <p class="code-status">
            <strong>CODE STATUS</strong>
            <span>
              <%= code.code_status %>
            </span>
          </p>
          <span class="replace-link">
            <% if code.code_status == true %>
              <a style="color: blue;" class="redeem-code btn btn-default btn-warning" data-remote="true" data-code-id=<%= code.id %> >Redeem</a>
            <% else %>
              <a class="redeemed btn btn-default disabled btn-secondary">Code Redeemed</a>
            <% end %>
          </span>
        </div>
      </div>
      <div style="height: 10px; background-color: black;"></div>
    <% end %>
  </div>
</div>
<div id="add-codes-container" class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-12">
      <h5>ADD CODES TO LOT:</h5>
    </div>
    <div class="col-md-12">
      <%= form_with(model: [ @lot, @lot.codes.build ], local: true) do |form| %>
        <p>
          <%= form.label :code_name %><br>
          <%= form.text_field :code_name %>
        </p>
        <p>
          <%= form.label :code_area %><br>
          <%= form.number_field :code_area %>
        </p>
        <p>
          <%= form.label :code_status %><br>
          <%= form.text_field :code_status %>
        </p>
        <p>
          <%= form.submit %>
        </p>
      <% end %>
    </div>
  </div>
</div>
<div id="edit-lot-container" class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Edit', edit_lot_path(@lot) %> |
      <%= link_to 'Back', lots_path %>
    </div>
  </div>
</div>


<script>

window.addEventListener('DOMContentLoaded', function() {
  console.log('window - DOMContentLoaded - capture');

  document.querySelectorAll("a.redeem-code").forEach(ele => {
    ele.addEventListener('click', function(e){
      var request = new XMLHttpRequest();
      request.responseType = 'json';
      request.open( 'POST', '/redeem', true );
      // set headers
      request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      request.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));

      request.onload = function(){
        var redeem = "<a class='redeemed btn btn-default btn-secondary disabled'>Code Redeemed</a>";
        var codeId = this.response.code.codeId;
        var lotAvailableArea = this.response.lot.lotAvailableArea;
        var $currentSection = $("[data-code-id=" + codeId + "]");
        var redeemLink = $currentSection.find(".replace-link");
        var $lotAvailableArea = $(".lot-available-area").next()[0]
        var $codeStatus = $currentSection.find(".code-status").next();

        redeemLink.empty();
        redeemLink.append(redeem);
        $lotAvailableArea.innerText = lotAvailableArea;
        $codeStatus[0].innerText = this.response.code.codeStatus;
        // debugger;
      };

      request.send( 'code_id=' + this.dataset.codeId );
    })
  });
}, true);
</script>